
/********** COLORS **********/
:root{
    --background-color:#48465D;
    --title: #A89D5D;
    --color-1: #F7CD54;
    --color-2: #71C1E9;
    --color-3: #F26659;
    --color-4: #7B7FCB;
}

/********** FONTS **********/

@font-face {
    font-family: LargeTitles;
    src: url(../fonts/Ballet\ Harmony.ttf);
}

@font-face {
    font-family: MediumTitles;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

@font-face{
    font-family: SmallTitles;
    src: url(../fonts/Comfortaa-Light.ttf);
}

/********** GENERAL **********/

h1{
    font-family: LargeTitles;
    color: var(--title);
    font-size: 80px;
    text-align: center;
}

h2{
    color: var(--title);
    font-size: 50px;
    font-family: MediumTitles;
}

p{
    font-family: SmallTitles;
}

body{
    background-color: var(--background-color);
    margin:0;
}

footer{
    background-image: url(../images/rebrand/footer.png);
    background-position: bottom;
    background-size: cover;
    height: 250px;
    bottom:0;
    right:0;
    left:0;
}

/********** HOME **********/

.left__home{
    float: left;
    padding-left:100px;
    width: 44%;
    display: inline-block;
}

.left__home p{
    color:var(--color-3);
    font-size: 30px;
    width: 60%;
}

.left__home a{
    font-family: SmallTitles;
    text-decoration: none;
    color: var(--color-4);
}

.left__home .rndbtn__home{
    background-color: var(--color-1);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 3px 3px 3px rgb(61, 61, 61);
}

.left__home .rndbtn__home p{
    color:var(--color-4);
    font-size:20px;
    text-align: center;
    padding-left:17px;
    padding-top:40px;
    width: 80%;
}

.right__home{
    width: 49%;
    display: inline-block;
}

.right__home img{
    width: 40%;
    display: block;
}

.right__home input{
    width: 400px;
    height: 52px;
    border-radius: 7px;
    border: 2px solid black;
    margin-right:1%;
}

.right__home a{
    background-color: var(--color-4);
    font-size:25px;
    text-decoration: none;
    color:white;
    padding:2%;
    border-radius:10px;
    font-family: SmallTitles
}


