
/********** COLORS **********/
:root{
    --background-color:#48465D;
    --title: #A89D5D;
    --color-1: #F7CD54;
    --color-2: #71C1E9;
    --color-3: #F26659;
    --color-4: #7B7FCB;
}

/********** FONTS **********/

@font-face {
    font-family: LargeTitles;
    src: url(../fonts/Ballet\ Harmony.ttf);
}

@font-face {
    font-family: MediumTitles;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

@font-face{
    font-family: SmallTitles;
    src: url(../fonts/Comfortaa-Light.ttf);
}

/********** GENERAL **********/

h1{
    font-family: LargeTitles;
    color: var(--title);
    font-size: 80px;
    text-align: center;
}

h2{
    color: var(--title);
    font-size: 50px;
    font-family: MediumTitles;
}

h3{
    font-family: MediumTitles;
    font-size:40px;
    color:var(--color-3);
    margin-top:0;
}

p{
    font-family: SmallTitles;
}

a{
    font-family: Smalltitles;
    text-decoration: none;
    color:black;
}

body{
    background-color: var(--background-color);
    margin:0;
}

footer{
    background-image: url(../images/rebrand/footer.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    bottom:0;
    right:0;
    left:0;
}

.profile{
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

.profile img{
    width: 100px;
    height: 100px;
}

/********** SIDENAV **********/

.sidenav{
    width: 20%;
    display:inline-block;
    float:left;
}

.sidenav img{
    width: 80%;
    margin-left: 9%;
}

.sidenav ul{
    list-style-type: none;
}

.sidenav li{
    background-color: var(--color-3);
    margin-bottom:4%;
    width: 200px;
    padding: 2%;
    text-align: center;
    border-radius: 6px;
}

.sidenav a{
    text-decoration: none;
    color:black;
    font-size:20px;
    font-family: SmallTitles;
}

/********** HOME **********/

.left__home{
    float: left;
    padding-left:100px;
    width: 44%;
    display: inline-block;
}

.left__home p{
    color:var(--color-3);
    font-size: 30px;
    width: 60%;
}

.left__home a{
    font-family: SmallTitles;
    text-decoration: none;
    color: var(--color-4);
}

.left__home .rndbtn__home{
    background-color: var(--color-1);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 3px 3px 3px rgb(61, 61, 61);
}

.left__home .rndbtn__home p{
    color:var(--color-4);
    font-size:20px;
    text-align: center;
    padding-left:17px;
    padding-top:40px;
    width: 80%;
}

.right__home{
    width: 49%;
    display: inline-block;
}

.right__home img{
    width: 40%;
    display: block;
}

.right__home input{
    width: 400px;
    height: 52px;
    border-radius: 7px;
    border: 2px solid black;
    margin-right:1%;
}

.right__home a{
    background-color: var(--color-4);
    font-size:25px;
    text-decoration: none;
    color:white;
    padding:2%;
    border-radius:10px;
    font-family: SmallTitles
}

/********** FORM **********/

.form{
    width: 60%;
    margin:auto auto;
}

.email__form, .password__form, .foto__form{
    margin:auto auto;
    width: 65%;
    margin-bottom:2%;
}

.form .email__form label, .form .password__form label, .form .foto__form label{
    background-color: var(--color-1);
    font-family: SmallTitles;
    display: inline-block;
    padding:1%;
    font-size:18px;
    margin-bottom:1%;
    border-radius: 6px;
    margin-right:1.5%;
    width: 150px;
    text-align: center;
}

.form .email__form input, .form .password__form input{
    display:inline;
    width: 400px;
    height: 33px;
    border:2px solid;
    border-radius: 6px;
}

.btn__form{
    margin:auto auto;
    width: 27%;
}

.form button{
    background-color: var(--color-2);
    font-family: SmallTitles;
    border:none;
    color:black;
    font-size: 28px;
    padding: 1.5%;
    text-align: center;
    border-radius: 6px;
    width: 170px;
    margin-top:12%;
}

.btn-lg button{
    width: 300px;
    font-size:24px;
    padding: 4%;
}


/********** CATEGORIEN **********/

.categorien{
    display: inline-block;
    width: 79%;
}

.categorien ul{
    list-style-type: none;
}

.categorien a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}

.categorien li{
    background-color: var(--color-1);
    width: 220px;
    height: 220px;
    display: inline-block;
    border-radius: 100%;
    margin-left: 3%;
    margin-bottom:3%;
}

.categorien li p{
    margin-top:47%;
    font-family: SmallTitles;
    text-align: center;
}

/********** CATEGORIE **********/

.vragen__categorie{
    width: 70%;
    display: inline-block;
    margin: auto auto;
}

.vraag__categorie{
    width: 80%;
    background-color:var(--color-1);
    border-radius: 10px;
    text-align: center;
    padding:2%;
    margin:auto auto;
    margin-bottom: 3%;
}

.vraag__categorie h3{
    font-family: MediumTitles;
}

.vraag__categorie ul{
    list-style-type: none;
}

.vraag__categorie a{
    text-decoration: none;
    color:black;
    background-color:var(--color-2);
    padding:1%;
    border-radius: 10px;
}

/********** VIEW **********/

.views{
    width: 70%;
    display:inline-block;
}

.view{
    background-color:var(--color-1);
    margin:auto auto;
    width: 70%;
    padding:2%;
    margin-bottom:3%;
    border-radius: 10px;
}

.view p{
    font-size: 25px;
}

.comment__form{
    width: 74%;
    margin:auto auto;
}

.comment__form textarea{
    display: inline-block;
    border: 2px solid;
    border-radius: 10px;
}

.comment__form .btn__form{
    display: inline;
}

.comment__form .btn__form button{
    float:right;
    margin-right: 200px;
    background-color: var(--color-2);
    border:none;
    padding: 2%;
    border-radius:10px;
    font-size:20px;
    font-family: SmallTitles;
}

.comments{
    width: 74%;
    margin: auto auto;
    margin-top: 2%;
}

.comment{
    background-color:var(--color-2);
    width: 50%;
    padding:1%;
    margin-bottom:1%;
    border-radius:10px;
}

.comment p:nth-child(2){
    font-size:10px;
}

/********** ONDERWERPEN **********/

.onderwerpen{
    width: 79%;
    margin:auto auto;
}

.onderwerp{
    background-color:var(--color-1);
    width: 220px;
    height: 220px;
    border-radius:100%;
    display:inline-block;
    margin-left:3%;
    margin-bottom:3%;
}

.onderwerp p{
    font-size: 20px;
    text-align: center;
    margin-top:47%;
}

/********** ONDERWERP **********/

.onderwerp__onderwerp{
    width: 60%;
    margin:auto auto;
}

.blok__onderwerp{
    background-color:var(--color-1);
    padding:2%;
    border-radius: 10px;
    margin-bottom:2%;
}
